<div class="{{areaClass}}">

  <div class="avalon-lotto-winning-numbers">
    <p>Mimic use on /vindertal, the component detects if the string 'vindertal' is present, and then hides header and subheader<p>
    {{> organisms-vindertal }}
  </div>
  
</div>