<div class="{{bundleName}}">
 
  <div
      class="bingo-card hover-scale js-bingo-card"
      data-room-id="377"
      data-override-price=""
    >
      <a class="bingo-card__wrapper" href="/bingo/spil/stjernedrys"
        ><div
          class="bingo-card__header"
          title="Stjernedrys"
          style="background-image:url('{{img.rectangle.src}}')"
        >
          <div class="bingo-card__header-flag">
            <img
              src="/Components/DanskeSpil/Project/Design/Graphics/regions/avalon-bingo/flag.svg"
              alt=""
            />
          </div>
        </div>
        <div class="bingo-card__timer">
          <div
            class="bingo-card__timer-status js-bingo-card-timer"
            style="width: 11.3333%;"
          >
            <div class="bingo-card__timer-status-countdown js-bingo-card-start">
              4:26
            </div>
          </div>
        </div>
        <div class="bingo-card__content">
          <div class="bingo-card__jackpot-title js-label-jackpot">Jackpot:</div>
          <div
            class="bingo-card__jackpot-title js-label-jackpot-is-pot-amount"
            style="display: none"
          >
            Pulje:
          </div>
          <div class="bingo-card__jackpot-value-wrapper">
            <div class="bingo-card__jackpot-value js-bingo-card-jackpot">
              <span>21.753</span>&nbsp;kr.
            </div>
            <div
              class="ds-cube-loader-wrapper js-cube-loader ds-cube-loader-wrapper--halfsize"
              style="display: none;"
            >
              <div class="ds-cube-wrapper ">
                <div class="ds-cube">
                  <div class="cube-face">
                    <div class="emoji-face">
                      <div class="eyes"><div class="eyebrows"></div></div>
                      <div class="mouth"></div>
                    </div>
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-face">
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-face">
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-face">
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-face">
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-face">
                    <div class="square"></div>
                    <div class="diamond"></div>
                    <div class="circle"></div>
                    <div class="triangle"></div>
                  </div>
                  <div class="cube-inner-face"></div>
                  <div class="cube-inner-face"></div>
                  <div class="cube-inner-face"></div>
                  <div class="cube-inner-face"></div>
                  <div class="cube-inner-face"></div>
                  <div class="cube-inner-face"></div>
                </div>
              </div>
              <div class="ds-cube-loader-text">
                <div class="ds-cube-loader-text-headline"></div>
                <div class="ds-cube-loader-text-description"></div>
              </div>
            </div>
          </div>
          {{# showGameData }}
          <div class="bingo-card__game-data">
            <div class="bingo-card__game-data--price">
              {{> atoms-mock-image("width": "50", "height": "50") }}
              <span class="js-bingo-card-potsize">60</span> kr.
            </div>
            <div class="bingo-card__game-data--players">
              {{> atoms-mock-image("width": "50", "height": "50") }}
              <span class="js-bingo-card-players">7</span> Spillere
            </div>
          </div>
          {{/ showGameData }}
        </div>
        <div class="bingo-card__play-now bingo-card__play-now--opened">
          <div class="bingo-card__play-now-text--primary">Spil med</div>
          <div
            class="bingo-card__play-now-text--secondary js-bingo-card-not-free"
            style=""
          >
            Fra&nbsp;<span class="js-bingo-card-price">18</span> kr.
          </div>
          <div
            class="bingo-card__play-now-text--secondary js-bingo-card-free"
            style="display: none"
          >
            Det er gratis
          </div>
          <div class="bingo-card__play-now-flash">
            <div class="bingo-card__play-now-flash--1"></div>
            <div class="bingo-card__play-now-flash--2"></div>
          </div>
        </div>
        <div class="bingo-card__play-now bingo-card__play-now--closed">
          <div class="bingo-card__closed-label">
            Rummet åbner <br /><span>30 min. før spilstart</span><br />
          </div></div
      ></a>
      <div class="bingo-card__host js-bingo-card-host" style="">
        CHATVÆRT LIVE<span class="bingo-card__host-led"></span>
      </div>
    </div>

</div>
