{{! boilerplate start }}
<div class="{{areaClass}}">
  <div class="bingo-winners">
{{! boilerplate end }}

  <div class="bingo-card bingo-winner-card">
    <div class="bingo-winner-card__graphic">
      <img
        src="{{ img.square.src }}"
        alt="{{ img.square.alt }}"
      />
    </div>
    <div class="bingo-winner-card__flag">
      <span class="bingo-winner-card__flag-text">Seneste Jackpot</span>
    </div>
    <div class="bingo-winner-card__game">Gamle Ole</div>
    <div class="bingo-winner-card__price">3.195,23 kr.</div>
    <div class="bingo-winner-card__date">11-06 kl. 13:49</div>
    <div class="bingo-winner-card__pill">
      <img
        src="/Components/DanskeSpil/Project/Design/Graphics/regions/avalon-bingo/players.svg"
        alt=""
      />wiizard
    </div>
  </div>

{{! boilerplate start }}
  </div>
</div>
{{! boilerplate end }}
