<div 
  class="{{brand}}-winning-numbers-spot" 
  id="vindertal-loerdag" 
  data-component="{{brand}}-winning-numbers" 
  data-settings='{
    "selectedWinningNumbers":"1,2,3,4,5",
    "gameType":"saturday",
    "topManchete":true,
    "bottomManchete":true
  }'></div>
