{{> organisms-pagestart }}

{{> organisms-bingo-hero }}
{{#bingoFeatured}}
{{> organisms-bingo-featured }}
{{/bingoFeatured}}
{{> organisms-bingo-games }}
{{> organisms-bingo-winners }}

{{> organisms-pageend }}
