<span class="page-nav-header-target js-page-nav-header-target" id="{{target}}" data-nav-name="{{text}}">
  <span class="page-nav-header-target__text">Navigation target id: {{target}}</span>
  <span class="page-nav-header-target__text">Navigation text: {{text}}</span>
</span>