<div class="gameinformation element swiper-slide js-card-shuffle-item">
  <div class="header"></div>
  <div class="icon-wrapper"><img class="icon" src=""></div>
  <h3 class="headline">Live roulette</h3>
  <div class="text">
    <p>Verdens mest populære casinospil på nettets mest levende Live Casino.</p>
    <ul class="list">
      <li>Altid danske dealere på arbejde</li>
      <li>Indsatser fra bare 1 krone</li>
      <li>Lightning og Immersive-varianter</li>
      <li>Åbent 24 timer i døgnet</li>
    </ul>
  </div>
  <div class="button-area">
    <a href="/livecasino/spil/roulette" target="_self" class="livecasino-button purple">Se alle borde</a>
  </div>
</div>