<script src="/Components/DanskeSpil/Project/Design/Js/Global/countdown.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/mediaelementplayer.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/slick-lightbox.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/slick.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Accordion.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Carousel.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Faq.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Gallery.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/ReadMoreSpot.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/TabsComponent.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Video.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/VideoGallery.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/VipLadder.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/HeroBannerFeeds.js"></script>
