<div class="quick-games">
  <div class="container">
    <div class="heading">
      <h1 class="title">De mest populære spil</h1>
    </div>
  </div>
  <div class="cards progress-bar swiper-container">
    
    <div class="swiper-wrapper card__swiper-wrapper">
      
      {{#listItems.nine }}
      {{> molecules-Card }}
      {{/listItems.nine }}

    </div>

    <div class="swiper-scrollbar"></div>
  </div>
</div>