    <div class="livecasino-campaign-spot">
        <h2>{{ headline.short }}</h2>
        <div class="campaign-container container-slider">
            <div class="banner js-trackable" data-tracking-position="">
                <a href="#" class="js-trackable-link" target="_blank">
                  <img src="{{img.rectangle.src}}" />
                </a>
            </div>
            <div class="banner js-trackable" data-tracking-position="">
                <a href="#" class="js-trackable-link" target="_blank">
                  <img src="{{img.rectangle.src}}" />
                </a>
            </div>
        </div>
    </div>