<div class="{{areaClass}}">
  <div style="height: 1000px"></div>
  
  <div class="livecasino-gameinformation js-card-shuffle">
    <h2 class="livecasino-gameinformation-spot-header">Vores spil</h2>
    <div class="gameinformation-container container3">
      
      {{#listItems.ten}}
        {{> molecules-gameinformation--element }}
      {{/listItems.ten}}
      
    </div>
  </div>

  <div style="height: 1000px"></div>
  
</div>