<div class="dealer-carousel-spot" data-dealers-link="/">
  <div class="dealer-carousel-text-wrapper">
    <h2 class="dealer-carousel-spot-header"><img src=""/>{{ headline.short }}</h2>
    <div>{{ excerpt.short }}</div>
  </div>
  <section data-component="livecasino-dealers-carousel" data-settings='{
    "dealers": [{
      "FirstName": "Cullen",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/cullen_ny_240x240.ashx",
      "DealerId": "tts122696_______",
      "Description": "Mød vores live dealer Cullen, som er en ægte fodboldelsker. Cullen dyrker fodbold i forskellige afskygninger - han spiller såvel som ser en masse fodbold. Så hvis du vil diskutere de seneste fodboldtransfers, er Cullen et oplagt bud. Fodboldpassionen fylder dog ikke alt i hans liv. Fritiden bliver også brugt med venner og kæresten, hvor rendyrket afslapning ofte er på tapetet. For Cullen er det nemlig vigtigt at huske at trække stikket i ny og næ, når tiden tillader det, og der ikke skal deles kort ud. Cullen ønsker derudover, at I alle lærer ham bedre at kende ved bordene, og han opfordrer jer derfor til at finde ham der, og til bare at spørge ind, hvis I vil vide mere. "
    }, {
      "FirstName": "Martin",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/martin_ny_240x240.ashx",
      "DealerId": "tts114361_______",
      "Description": "Mød vores garvede live dealer Martin fra Søhøjlandet, som i mere end 3 år, har været i vores Danske Spil Live Casino-fold. Martin påskønner den hyggelige stemning i studiet og tiden med kollegaerne. I sin fritid på Malta plejer han en have for en ældre dame, og som tak for at holde hendes ukrudt nede, får han anpart i haven og dermed plads til at gro sine økologiske grønsager og appelsiner. Netop økologi og bæredygtighed ligger Martin på sinde, og en stor del af en kæmpe gevinst ville han også bruge på at stable et bæredygtigt Bed and Breakfast på benene. Plantegningerne til bygningerne ville han selv stå for, da han er uddannet bygningsingeniør. Hans favoritdyr servalen vil muligvis kræve en googlesøgning, men hans yndlingsfilm omhandler skabninger fra en helt anden tidsalder nemlig Jurassic Park. "
    }, {
      "FirstName": "Preben",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/2019_dli_lc_preben2_240x240.ashx",
      "DealerId": "tts124308_______",
      "Description": "Mød vores live dealer Preben, som ganske enkelt elsker at omfavne hyggen i jobbet som live dealer. Foruden hyggen, er der intet, ifølge Preben, der overgår følelsen af at give en suited trips til spillerne. Prebens altoverskyggende drøm er at starte egen virksomhed, og hvis drømmen skulle fuldendes, skulle han bosætte sig i USA, der har den ikoniske status af at være mulighedernes land. For nu priser Preben sig dog lykkelig for, at han har muligheden for at udforske Malta i, hvad han beskriver som sin ’lille dyt’, hvor hans venner gerne gør ham selskab. Preben bliver for alvor salig, når menuen står på stegt flæsk med løgsovs, og han er af den opfattelse, at Dumbo er og bliver den bedste film til dato. "
    }, {
      "FirstName": "Emil",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/emil_240x240.ashx",
      "DealerId": "tts122008_______",
      "Description": "Mød vores live dealer Emil fra Randers, som er meget begejstret for jobbet som live dealer og livet på Malta, der følger med jobbet. Opholdet på Malta byder for Emil på en masse strandture og byture, og han bruger også en masse tid med sine kollegaer, selv når han ikke er at finde ved bordene. Selvom sodavand er en drik, der er let tilgængeligt på Malta, savner Emil dog en ganske bestemt slags sodavand hjemme fra Danmark - en isnende kold Faxe Kondi. Når klokken nærmer sig aftensmadstid, er spaghetti carbonára et særdeles godt bud på et måltid. Hvis pastaretten skulle nydes i hjemlige omgivelser, ville det ydermere være optimalt med en fodboldkamp eller et afsnit af Rick and Monty kørende til. "
    }, {
      "FirstName": "Meena",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/meena_240x240.ashx",
      "DealerId": "tts122317_______",
      "Description": "Mød vores københavnske live dealer Meena, der får et glædessus hver gang hun sidder til bords med en af vores mange vindere. Meena beskriver sig selv, som værende meget rejseglad- og lysten og solhungrende ej at forglemme. Hun er derfor ikke spor i tvivl om, at hvis heldet tilsmilede hende, ville hun bruge en gevinst på at rejse. Et godt bud på en destination kunne være pizzaens arnested, Italien, da pizzaen har en klar stjerne i Meenas madunivers. Ifølge Meena er og bliver hunden menneskets bedste ven og dermed hendes yndlingsdyr. Når mørket falder på, og fjernsynet skal agere underholdningsapparat, er filmserien Resident Evil, det ubestridt bedste bud. "
    }, {
      "FirstName": "Alba",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/alba_240x240.ashx",
      "DealerId": "tts124723_______",
      "Description": "Mød vores live dealer Alba, der er en madglad pige fra København med en særlig forkærlighed til det danske køkken. Alba bruger det meste af sin fritid i selskab med sine venner og kæreste. Blev Alba indehaver af en stor gevinst, ville hun også tage alle sine nære med på ferie. Turen skulle helst gå til Asien, da netop denne verdensdel i høj grad tiltaler Alba. Inden live dealer-jobbet var fægtning en af Albas helt store interesser, men Malta bugner desværre ikke af fægtetilbud, så fægteriet er sat på hold for en stund. Hendes favoritserie finder sted på det fiktive hospital i Seattle, så hvis du har misset et par afsnit ud af de 317 i Greys hvide verden, så er det ikke utænkeligt, at Alba kan hjælpe dig. "
    }, {
      "FirstName": "Michael",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/michael_240x240.ashx",
      "DealerId": "tts122007_______",
      "Description": "Mød vores live dealer Michael fra Køge, der anser atmosfæren i Live Casino-studiet og grundessen i spillene for at være det fedeste ved jobbet. Med grundessensen mener Michael den iboende rutsjebanetur, som der oftest er ved spil, og især vendepunktet, når en mindre god stime bliver forvandlet til en bedre for en spiller. Michaels bedste enkeltstående oplevelse på jobbet, var engang, hvor han gav suited trips to hænder i streg. Michael er en sand familiefar på 30 år, som bruger det meste af sin fritid med familien. Får han ansvaret for aftensmaden står den ofte på en omgang kernedansk mad. Frikadeller med brun sovs og kartofler er en sikker vinder i denne foretrukne madkategori. "
    }, {
      "FirstName": "Katrine",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/katrine_240x240.ashx",
      "DealerId": "tts124550_______",
      "Description": "Mød vores live dealer Katrine, der altid har hyggen i højsædet ved hendes borde. Katrine, der finder hyggen altafgørende i jobbet, husker glædeligt tilbage på første gang hun gav en suited trips på Blackjack. Håndbold er Katrines helt store interesse, og hun sidder klistret til tv-skærmen under de respektive landsholdsslutrunder. Når Katrine fra Holstebro ellers finder vej til tv’et står den oftest på et par afsnit med Joey og de andre venner. Er der frit valg på menuen, foretrækker Katrine nogen velsmagende tarteletter, men på de ganske normale middagshverdage, er en leverpostejmad en sikker vinder. "
    }, {
      "FirstName": "Michelle",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/michelle_240x240.ashx",
      "DealerId": "tts124829_______",
      "Description": "Mød vores live dealer Michelle, som foruden at synes om arbejdet, er vild med stillingsbetegnelsen ”live dealer” – mest af alt fordi det lyder sejt. Michelle, der er fra Herlev, er en frisk pige med spræl i, som drømmer om at leve et liv i luksus, hvor det absolut ikke ville gøre noget, hvis shopping var en hverdagsbeskæftigelse. Når casino-bordene ikke kalder, aflægger hun ofte stranden, cafeerne eller barerne et visit. Michelle er nemlig ikke bleg for at sætte lidt gang i gaden. Københavns gader og livet i hovedstaden savner Michelle meget. En omgang koldskål i familiens skød ville dog stikke hovedstadens talrige forlystelser til hver en tid. "
    }, {
      "FirstName": "Therese",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/therese_240x240.ashx",
      "DealerId": "tts124682_______",
      "Description": "Mød vores live dealer Therese, som er en livsglad pige, hvis store drøm er at bygge sit eget musikhjemmestudie en skønne dag. Hun udpeger fællesskabet blandt alle dealerne, som noget af det fedeste, da det kan kanaliseres ud til jer og give en bedre spiloplevelse. Når du spiller hos Therese, skal du nok ikke skrive, at du nyder en rugbrød med leverpostej eller en god portion koldskål, da det er et af Thereses største afsavn med mindre du selvfølgelig har tænkt dig at sende en baconpostej mod Malta. Therese, der er fra Hinnerup lidt uden for Århus, ønsker derudover at være lidt tilbageholdende med hendes beskrivelser om sig selv, da hun opfordrer alle til at møde hende ved bordene og lære hende bedre at kende der. "
    }, {
      "FirstName": "Hans",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/hans_240x240.ashx",
      "DealerId": "tts113530_______",
      "Description": "Mød vores live dealer Hans fra Holbæk, der er et sandt familiemenneske. Fritiden bliver derfor ofte brugt i familiens skød, og når den skal stå på rendyrket afslapning, er Netflix et kvalificeret bud på en ledsager. Filmen ’The Crow’, der med Brandon Lee som hovedrolleindehaver med årene har opnået kultstatus, er Hans absolutte yndlingsfilm. Hans har den danske natur nært, og en gåtur i de danske skove, er en beskæftigelse, som Hans har svært ved at undvære. Her måtte en hund godt gøre ham selskab, da det er Hans yndlingsdyr. En veltilberedt flæskesteg er ligeledes en ting, som der ifølge Hans ikke kan haves for høje tanker om. "
    }, {
      "FirstName": "Frederik",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/frederik-_240x240.ashx",
      "DealerId": "tts119242_______",
      "Description": "Mød vores randrusianske live dealer Frederik, som bare er tosset med, når stemningen når nye højder i studiet, og de store gevinster bliver vundet i en lind strøm. Frederik er yderst begejstret for tilværelsen på soløen Malta, og fritiden bliver brugt på sport og kulinariske eventyr. Frederik betragter sig selv som en stille og rolig fyr, som elsker mad og særligt lasagnen står øverst på listen over livretter. Uglen er Frederiks yndlingsdyr grundet dets unikke væsen - om det ligeledes er fordi uglen er et symbol på visdom må stå hen i det uvisse. Frederiks ubestridte favoritfilm har Tom Cruise i hovedrollen, og er en sand klassiker fra 1986, nemlig Top Gun. "
    }, {
      "FirstName": "Freja",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/freja_240x240.ashx",
      "DealerId": "tts124471_______",
      "Description": "Mød vores live dealer Freja fra Struer, der er en festglad pige og en ægte livsnyder. Hun synes det fedeste ved at være live dealer er at lære alle jer spillere fra hele Danmark, nær som fjern, at kende. Hun savner det nordiske køkken, og de klassiske danske retter. Så når hun må kigge langt efter de danske retter på menukortene på Malta, står den ofte på en omgang spaghetti carbonára. Fritiden går med hyggelige stunder med vennerne og massevis af musik. Når de bløde gemakker skal findes, tyer Freja ofte til en god serie. ’Supernatural’ udpeger hun til at være hendes sikre valg, hvad angår en favoritserie. "
    }, {
      "FirstName": "Kim",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/kim_240x240.ashx",
      "DealerId": "tts119106_______",
      "Description": "Mød vores fredericianske live dealer Kim, der holder af at møde dig og de tusindvis af andre, der kigger forbi vores Live Casino. Kims klareste Live Casino-minde bliver udgjort af en ung spiller, der på få uger var så heldig at kunne veksle sit første indskud til sin drømmebil - én spiller som Kim stadig træffer til et hyggespil i ny og næ. Kim ville selv bruge en stor gevinst på at tage et år ud af kalenderen og rejse til Australien. Rejsen skulle tage sin udgangsposition i en beskeden husvogn, og rygsækken skulle derefter fyldes med udstyr, når husvognen måtte trænge til et velfortjent hvil. Kim nyder solen og naturen på Malta, men han har også et afsavn til dansk kultur og dansk mad. "
    }, {
      "FirstName": "Magnus",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/magnus_240x240.ashx",
      "DealerId": "tts118445_______",
      "Description": "Mød vores live dealer Magnus fra Randers, som beskriver sig selv som en stille og rolig fyr med begge ben solidt plantet på jorden. Magnus ubetinget største drøm, er at rejse verden tynd og komme ud i selv de yderste afkroge, som normalvis ikke står øverst på de flestes ønskedestinationer. Så har du nogen rejsetips, der er værd at dele, vil Magnus med glæde notere ned. I sin fritid, er sport, og nærmere bestemt fodbold, en af de tungtvejende interesser. Skal Magnus pleje sit livsnyder-gen, har han et par kriterier til, hvordan han bedst muligt gør det. Der er nemlig intet der overgår en omgang stegt flæsk med en velskænket fadøl til, så menuen skal gerne bestå af netop de to ting. "
    }, {
      "FirstName": "Jacqueline",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/jacqueline_ny_240x240.ashx",
      "DealerId": "tts121614_______",
      "Description": "Mød vores københavnske live dealer Jacqueline, som er en madglad uddannet kok, der er klar på massevis af sjov og spas på hendes vagt. Jacqueline fremhæver nemlig, foruden de nye bekendtskaber, de sjove samtaler og jokes, som værende det bedste ved live dealer-jobbet. Størstedelen af hendes fritid går med hendes venner og kollegaer på Malta, men hendes båd, som hun en dag gerne vil rejse verden rundt på, er ligeså kilde til en masse livsglæde. Jacqueline elsker alt slags mad, og længes særligt efter en ristet hotdog serveret i en dansk pølsevogn. Skal du i øvrigt have vendt alt fra den seneste nye rock-udgivelse til udførelsen af det perfekte cirkelspark eller blot nøjes med inspiration til aftenens menu, er Jacqueline den helt rigtige at spille med. "
    }, {
      "FirstName": "Glennie",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/glennie_ny_240x240.ashx",
      "DealerId": "tts121615_______",
      "Description": "Mød vores århusianske live dealer Glennie, som beskriver sig selv som værende en livsnyder af dimensioner. Et af Glennies kendetegn er, at hun altid er garant for et grin eller to, og at spillerne har det sjovt og føler sig underholdt, er således en ting, som hun vitterlig sætter en dyd i. Naturen er hendes fristed, og hun betragter sig selv, som et sandt naturmenneske. Naturen der omgiver hendes barndomsegn er derfor savnet, og hun er ikke bleg for at tillægge Silkeborg beskrivelsen, som Danmarks smukkeste by. Glennie benytter sig flittigt af Maltas kulturelle tilbud, og hvis hun vandt en stor gevinst, ville hun ikke overraskende åbne et gæstehus for andre kultur- og naturelskerende backpackere i det eksotiske Thailand. "
    }, {
      "FirstName": "Philip",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/philip_240x240.ashx",
      "DealerId": "tts121276_______",
      "Description": "Mød vores live dealer Philip, som beskriver sig selv som en glad fyr, du altid vil kunne finde med et smil på læben ved bordene. Derudover karakteriserer Philip sig selv som værende en madglad københavner og som en fyr med gang i. Et af de mindeværdige øjeblikke som live dealer, der står klart i hans erindring, er fra en gang, hvor han hjalp en spiller med at tanke en halv million op på spillekontoen. Skulle Philip selv gå hen og vinde en kæmpe gevinst, ville han starte sit eget firma og give en bid af kagen til sine forældre. Selvom Game of Thrones har fundet sin konge på tronen, er der stadig ingen serie i Philips optik, der når den til sokkeholderne. "
    }, {
      "FirstName": "Sissel",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/sissle_240x240.ashx",
      "DealerId": "tts126187_______",
      "Description": "Mød vores nye live dealer Sissel, der bare synes, at det fedeste ved at være dealer, er at give suited trips. Sissels store drøm er at rejse verden rundt og besøge så mange lande som muligt. Og er det muligt at få risotto og sushi i de pågældende lande, vil hun være ovenud lykkelig. Hendes helt store passion er basketball, som hun både dyrker og ser en masse. Når Sissel har fri, nyder hun omgivelserne på Malta med de andre dealere, og når den står på afslapning, er favoritserien Friends et særdeles godt bud. Så hvis du vil udfordre en dealer på Friends-citater, er det helt sikkert Sissel, du bør tage kampen op imod. Hun kan nemlig blive ved med at gense den ikoniske serie. "
    }, {
      "FirstName": "Mette",
      "Image": "http://danskespil.dk/-/media/billeder/livecasino/stationaere-billeder/dealere/mette_240x240.ashx",
      "DealerId": "tts126955_______",
      "Description": "Mød vores nye live dealer Mette, som ser frem til at møde alle jer spillere. Mette glæder sig til at være med til at kunne indfrie et par af jeres mindre eller store drømme. Selv drømmer Mette om, at hun en skønne dag kan tilbringe mere end blot et par ugers ferie på en lækker bountystrand. At kunne tage en ubestemt mængde tid ud af kalenderen og ligge i en hængekøje under palmerne med en drink i hånden, er nemlig en af Mettes helt store drømme. Mette vil betegne sig selv som lidt af en husmor, og noget af tiden på Malta går således med en masse husmorgøremål. Derudover er Mette en sand serie-ekspert, så er du i tvivl om, hvilken serie du skal give dig i kast med næste gang, har Mette med statsgaranti et værdigt bud. "
    }],
    "gameTypes": [{
      "GameTypeId": "AmericanRoulette",
      "Title": "American Roulette",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_roulette.ashx",
      "Link": {
        "Url": "/livecasino/spil/roulette",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{66D6195A-3719-4D5F-B847-DEA05458E6D9}",
        "QueryString": null
      },
      "Description": "",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "Baccarat",
      "Title": "Baccarat",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_baccarat.ashx",
      "Link": {
        "Url": "/livecasino/spil/baccarat",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{914A75F6-D7D3-4A24-9D63-4A09DEF1E93E}",
        "QueryString": null
      },
      "Description": "Bliver det \u0027Player\u0027 eller \u0027Banker\u0027, der kommer tættest på 9? Billedkort og 10\u0027ere tæller for 0, Esser for 1.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "Blackjack",
      "Title": "Blackjack",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_blackjack.ashx",
      "Link": {
        "Url": "/livecasino/spil/blackjack",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{BC321934-65F7-405D-945A-2CB49C39B152}",
        "QueryString": null
      },
      "Description": "Målet er simpelt. Kom så tæt på 21 som muligt, men gå ikke over! Dealeren skal stå på 17 eller mere.",
      "BetBehindDescription": "Målet er simpelt. Kom så tæt på 21 som muligt, men gå ikke over! Dealeren skal stå på 17 eller mere.",
      "Active": ""
    }, {
      "GameTypeId": "CSP",
      "Title": "Caribbean Stud",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_carribeanstud.ashx",
      "Link": {
        "Url": "/livecasino/spil/caribbean-stud-poker",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{1FBDDDF3-435C-4866-BD42-2D745BACB9D1}",
        "QueryString": null
      },
      "Description": "Lav den bedste fem-korts pokerhånd mod dealeren, og få store bonusser for gode hænder.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "Holdem",
      "Title": "Pokerspil",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_casinoholdem.ashx",
      "Link": {
        "Url": "/livecasino/spil/pokerspil",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{42446A88-D4D2-4F2E-A431-69F8267F3959}",
        "QueryString": null
      },
      "Description": "Texas Hold\u0027em mod huset. Lav den bedste pokerhånd af dine to personlige kort og de fem fælleskort på bordet.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "DragonTiger",
      "Title": "Dragon Tiger",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_dragontiger.ashx",
      "Link": {
        "Url": "/livecasino/spil/dragontiger",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{ED8D85EC-3784-45C4-B4FC-685224F7D006}",
        "QueryString": null
      },
      "Description": "Spil på om \u0027Drage\u0027 eller \u0027Tiger\u0027 trækker det højeste kort. Es er lavest i denne variant.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "FreeBetBlackjack",
      "Title": "Free Bet Blackjack",
      "Icon": "",
      "Link": {
        "Url": "/livecasino/spil/blackjack",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{BC321934-65F7-405D-945A-2CB49C39B152}",
        "QueryString": null
      },
      "Description": "",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "ScalableBlackjack",
      "Title": "Infinite Blackjack",
      "Icon": "",
      "Link": {
        "Url": "/livecasino/spil/blackjack",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{BC321934-65F7-405D-945A-2CB49C39B152}",
        "QueryString": null
      },
      "Description": "",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "",
      "Title": "Krig",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_dragontiger.ashx",
      "Link": {
        "Url": "/livecasino/spil/krig",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{1D81ED6C-AD16-4A90-A387-07EA0B7E8E35}",
        "QueryString": null
      },
      "Description": "Spil på hvem der trækker det højeste kort.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "LightningDice",
      "Title": "Terninger",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_dice.ashx",
      "Link": {
        "Url": "/livecasino/spil/terninger",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{08470AF5-D4D1-45C3-AA00-A0AA40BE03D9}",
        "QueryString": null
      },
      "Description": "Gæt udfaldet af tre terninger, og du kan vinde op til 1.000 gange din indsats.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "MoneyWheel",
      "Title": "MoneyWheel",
      "Icon": "",
      "Link": {
        "Url": null,
        "Target": null,
        "Title": null,
        "Text": null,
        "CssClass": null,
        "TargetId": null,
        "QueryString": null
      },
      "Description": "",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "RngEuropeanRoulette",
      "Title": "Rng European Roulette",
      "Icon": "",
      "Link": {
        "Url": "#BROKENLINK",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": null,
        "QueryString": null
      },
      "Description": "",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "Roulette",
      "Title": "Roulette",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_roulette.ashx",
      "Link": {
        "Url": "/livecasino/spil/roulette",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{66D6195A-3719-4D5F-B847-DEA05458E6D9}",
        "QueryString": null
      },
      "Description": "Gæt hvor kuglen lander. Det mest enkle og populære casinospil i verden, med uanede mængder af spilmuligheder for enhver pengepung.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "SicBo",
      "Title": "Sic Bo",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_dice.ashx",
      "Link": {
        "Url": "/livecasino/spil/terninger",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{08470AF5-D4D1-45C3-AA00-A0AA40BE03D9}",
        "QueryString": null
      },
      "Description": "Spil på dobler, tripler eller bare direkte på øjnene, i dette jackpot terningespil.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "SidebetCity",
      "Title": "Sidebet City",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_casinoholdem.ashx",
      "Link": {
        "Url": "/livecasino/spil/pokerspil",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{42446A88-D4D2-4F2E-A431-69F8267F3959}",
        "QueryString": null
      },
      "Description": "Et nyskabende pokerspil, hvor du kan spille på både 3, 5 og 7-kortshænder.",
      "BetBehindDescription": " ",
      "Active": ""
    }, {
      "GameTypeId": "TCP",
      "Title": "Three Card Poker",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_threecardpoker.ashx",
      "Link": {
        "Url": "/livecasino/spil/three-card-poker",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{0FE6C605-E211-4F58-9D3D-F835809D5D85}",
        "QueryString": null
      },
      "Description": "Et simpelt pokerspil mod huset, hvor både spiller og dealer tildeles 3 kort. Ingen bytterunder, men masser af sidebets.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "TopCard",
      "Title": "Topkort",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_topkort.ashx",
      "Link": {
        "Url": "/livecasino/spil/krig",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{1D81ED6C-AD16-4A90-A387-07EA0B7E8E35}",
        "QueryString": null
      },
      "Description": "Spil på om hjemmeholdet eller udeholdet trækker det højeste kort. Es er højest i denne variant.",
      "BetBehindDescription": "",
      "Active": ""
    }, {
      "GameTypeId": "UTH",
      "Title": "Ultimate Hold\u0027em",
      "Icon": "/-/media/billeder/livecasino/ikoner/udenbaggrund/final_nobackground_ultimateholdem.ashx",
      "Link": {
        "Url": "/livecasino/spil/ultimate-texas-holdem",
        "Target": "_self",
        "Title": "",
        "Text": "",
        "CssClass": "",
        "TargetId": "{153CD6C6-8DB3-4653-ABBF-95565BCCBE49}",
        "QueryString": null
      },
      "Description": "Texas Hold\u0027em mod huset - kendt fra de danske kasinoer. Rammer du en god hånd, kan du satse mellem 1 og 4 gange indsatsen.",
      "BetBehindDescription": "",
      "Active": ""
    }],
    "dealersLink": {
      "Url": "/livecasino/dealer",
      "Target": "_self",
      "Title": "",
      "Text": "",
      "CssClass": "",
      "TargetId": "{2B38DE67-DF32-4C7F-93DD-DDC05EC181C9}",
      "QueryString": null
    }
  }'>
  </section>
</div>

