<div class="livecasino-game-spot-iframe-outer-wrapper maximized">
  <div class="iframe-outer-wrapper-background"></div>
  <div class="iframe-panel-wrapper">
    <div class="panel-header-wrapper"></div>
    <div class="iframe-container">
      <div class="livecasino-poker-chip-loader-wrapper livecasino-iframe-loader-wrapper">
        <div class='poker-chip-container rotate-animation'>
          <span class='poker-chip-end-face top-face'>
            <span class='inner-end-face'>
              <svg class="logo">
                <use
                  href="/Components/DanskeSpil/Domain/AvalonLiveCasino/Graphics/SpriteSheets/LiveCasinoIcons.svg#LiveCasino-icon">
                </use>
              </svg>
            </span>
          </span>
          <span class='poker-chip-side-face-wrapper rotate-animation'>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
            <span class='poker-chip-side-face'></span>
          </span>
          <span class='poker-chip-end-face bottom-face'>
            <span class='inner-end-face'>
              <svg class="logo">
                <use
                  href="/Components/DanskeSpil/Domain/AvalonLiveCasino/Graphics/SpriteSheets/LiveCasinoIcons.svg#LiveCasinoIkonerClean_ThreeCardPoker">
                </use>
              </svg>
            </span>
          </span>
        </div>

        <p class="loader-text">Vent mens spillet indlæses...</p>
      </div>
    </div>
  </div>
</div>