<div class="one-col">
  <div class="avalon-cards card-layout-2" style="background-color: orange;">
    <div class="cards__container">
      <div class="cards">
        {{#listItems.six}}
        {{> molecules-CardOne }}
        {{/listItems.six}}
      </div>
    </div>
  </div>
</div>