<div class="one-col">
  <div class="avalon-cards card-layout-1" style="background-color: orange;">
    <div class="cards__container">
      <div class="cards">
        {{#listItems.three}}
        {{> molecules-CardOne--link }}
        {{/listItems.three}}
        {{#listItems.three}}
        {{> molecules-CardOne }}
        {{/listItems.three}}
      </div>
    </div>
  </div>
</div>