<div class="bingo-games animate-in--container">
  
  {{> organisms-bingo-game-category }}
  
  <div class="bingo-games__bg js-background-animation " style="background-color: #70a932;">
    <div class="bingo-games__bg--1" style="background-image: url(&quot;/-/media/mediebib_old/rod/danskespil/billeder/bingo-2018/bingo_baggrund_step_resized.ashx&quot;); opacity: 0.544831;"></div>
    <div class="bingo-games__bg--2" style="background-image: url(&quot;/-/media/mediebib_old/rod/danskespil/billeder/bingo-2018/bingo_baggrund_step_resized.ashx&quot;); opacity: 0.0551688;"></div>
  </div>

</div>
