<header
  class="top-navigation header standard-header dli-10_dlo-6 top-navigation-theme-bingo is-desktop-detected "
  role="navigation"
  style="pointer-events: all; transform: translate3d(0px, 0px, 0px);"
>
  <div
    class="notifications"
    data-notifications="top"
    style="transform: translate3d(0px, 0px, 0px);"
  ></div>
  <nav class="corporate-nav">
    <div class="corporate-nav__container">
      <div class="corporate-nav__logo">
        <a href="/"
          ><img
            class="corporate-nav__logo-img"
            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/dss___hr.ashx"
            alt="danske spil logo"
        /></a>
      </div>
      <div class="corporate-nav__navigation">
        <ul class="corporate-nav__list">
          <!-- CorporateMegaMenuView -->
          <li class="corporate-nav__list-item js-item js-has-subnav">
            <a
              href="#"
              class="corporate-nav__list-link js-link"
              aria-haspopup="true"
              >FLERE SPIL<svg class="corporate-nav__link-icon">
                <use xlink:href="#icon_header_arrow_down_use"></use></svg></a>
            <div class="sub-navigation" aria-hidden="true" aria-label="submenu">
              <div class="sub-navigation__inner">
                <div class="games games--section-count--2  has-cta-component">
                  <div class="games-left">
                    <p>Udbydes af Danske Licens Spil A/S</p>
                    <ul class="games-list">
                      <li
                        class="games-list-item Oddset"
                        style="background-color: #003E99;"
                      >
                        <a href="/oddset"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/oddset-white.ashx"
                            alt="Oddset"
                        /></a>
                      </li>
                      <li
                        class="games-list-item eoddset"
                        style="background-color: #003E99;"
                      >
                        <a href="/oddset/esport?intcmp=top_menu_eoddset_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/eods___hr.ashx"
                            alt="eoddset"
                        /></a>
                      </li>
                      <li
                        class="games-list-item Casino"
                        style="background-color: #A78952;"
                      >
                        <a
                          href="https://casino.danskespil.dk/da?intcmp=top_menu_casino_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/casino-white3.ashx"
                            alt="Casino"
                        /></a>
                      </li>
                      <li
                        class="games-list-item livecasino"
                        style="background-color: #A78952;"
                      >
                        <a href="/livecasino?intcmp=top_menu_livecasino_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/live-casino-white_2.ashx"
                            alt="livecasino"
                        /></a>
                      </li>
                      <li
                        class="games-list-item bingo"
                        style="background-color: rgb(160,211,35);"
                      >
                        <a href="/bingo?intcmp=top_menu_bingo_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/bingo-white.ashx"
                            alt="bingo"
                        /></a>
                      </li>
                      <li
                        class="games-list-item Spillehjoernet"
                        style="background-color: #7D96B4;"
                      >
                        <a
                          href="/spillehjoernet?intcmp=top_menu_spillehjoernet_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/spillehjornet-white-opti-500x50.ashx"
                            alt="Spillehjoernet"
                        /></a>
                      </li>
                      <li
                        class="games-list-item Tips"
                        style="background-color: #009A60;"
                      >
                        <a href="/tips/tips13?intcmp=top_menu_tips_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/tips-white.ashx"
                            alt="Tips"
                        /></a>
                      </li>
                      <li
                        class="games-list-item poker"
                        style="background-color: #000000;"
                      >
                        <a href="/poker?intcmp=top_menu_poker_ny_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/poker-logo-white.ashx"
                            alt="poker"
                        /></a>
                      </li>
                      <li
                        class="games-list-item dantoto"
                        style="background-color: #DC5F11;"
                      >
                        <a href="/dantoto?intcmp=top_menu_dantoto_brand"
                          ><img
                            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/dantoto-white.ashx"
                            alt="dantoto"
                        /></a>
                      </li>
                    </ul>
                  </div>
                  <div class="games-right">
                    <div class="header__cta-component no-readmore-link">
                      <p class="header__cta-component__description">
                        Danske Spil har mange flere spil. Gå til forsiden for at
                        se dem alle.
                      </p>
                      <a
                        class="header__cta-component__cta-home"
                        href="https://danskespil.dk"
                        >Danske Spil</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- /CorporateMegaMenuView -->
          <li class="corporate-nav__list-item js-item">
            <a
              class="corporate-nav__list-link"
              href="https://kundecenter.danskespil.dk/forside"
              target="Aktiv browser"
              >Hjælp</a
            >
          </li>
          <li class="corporate-nav__list-item js-item">
            <a class="corporate-nav__list-link" href="https://danskespil.dk/om/"
              >Om os</a
            >
          </li>
        </ul>
      </div>
      <div class="user-bar">
        <div class="user-bar__navigation">
          <ul class="user-bar__list">
            <li class="user-bar__list-item js-has-subnav accountmenu">
              <div class="accountmenu">
                <div class="accountmenu__group">
                  <span class="accountmenu__item info-bar-item--account dli"
                    >BLÅ KONTO</span
                  ><span class="accountmenu__item info-bar-item--account dlo"
                    >RØD KONTO</span
                  ><span
                    class="accountmenu__item info-bar-item--username js-username"
                    data-hj-suppress=""
                  ></span>
                </div>
                <span
                  class="accountmenu__item info-bar-item--ballance js-balance-user"
                  data-hj-suppress=""
                ></span
                ><a
                  class="accountmenu__item profile-btn mobile-only"
                  aria-expanded="false"
                  data-menu-toggle=""
                  href="#minside/forside"
                  >"&gt;Min side</a
                ><a
                  class="accountmenu__item profile-btn desktop-only"
                  aria-expanded="false"
                ></a
                ><a
                  class="accountmenu__item signup-btn desktop-only"
                  href="/blaa-konto/opret-konto"
                  title="Opret konto"
                  >Opret konto</a
                ><a
                  class="accountmenu__item login-btn js-login-header desktop-only"
                  href="/#"
                  >Log ind</a
                ><a
                  class="accountmenu__item login-btn mobile-only"
                  aria-expanded="false"
                  data-menu-toggle=""
                  href="/#"
                  >Log ind</a
                >
                <div
                  class="sub-navigation mega-menu"
                  aria-hidden="true"
                  aria-label="submenu"
                >
                  <div class="sub-navigation-inner  mega-menu__inner">
                    <div class="mega-menu__account">
                      <h3 class="mega-menu__account-name dli">BLÅ KONTO</h3>
                      <h3 class="mega-menu__account-name dlo">RØD KONTO</h3>
                      <p class="mega-menu__account-meta dli">
                        <strong>Danske Licens Spil A/S:</strong> Oddset,
                        eOddset, Tips, Dantoto, Casino, Live Casino,
                        Spillehjørnet, Zezam, Poker og Bingo
                      </p>
                      <p class="mega-menu__account-meta dlo">
                        <strong>Danske Lotteri Spil A/S:</strong> Lotto,
                        Vikinglotto, Eurojackpot, Keno, Quick og Quick Games
                      </p>
                    </div>
                    <div>
                      <ul class="navigation-list  mega-menu__section account-section">
                        <li
                          class="navigation-item  mega-menu__section__title  has-subnav"
                        >
                          <ul class="navigation-list  mega-menu__link-list">
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="https://danskespil.dk/blaa-konto/mine-spil#/1/365/aktive/alle-kanaler/"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Aktive spil</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="https://danskespil.dk/blaa-konto/mine-spil#/1/7/afsluttede/alle-kanaler/"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Afsluttede spil</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="https://danskespil.dk/blaa-konto/historik#/1/7/alle-typer/"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Kontohistorik</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/casino/pokercasino_konto"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                target="Aktiv browser"
                                >Poker/Casino side</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/oddset-bonus"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Oddset bonus</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <ul
                        class="navigation-list  mega-menu__section account-section"
                      >
                        <li
                          class="navigation-item  mega-menu__section__title  has-subnav"
                        >
                          <ul class="navigation-list  mega-menu__link-list">
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/mine-oplysninger"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Mine oplysninger</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/notifikationer"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Nyheder og vinderbeskeder</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/spilkort"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Spilkort</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/amountlimits"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Sæt grænser</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/spaer-eller-luk"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Kontoadgang</a
                              >
                            </li>
                            <li
                              class="navigation-item  mega-menu__link-list__item"
                            >
                              <a
                                href="/blaa-konto/upload-dokument"
                                class="navigation-item-link  mega-menu__link-list__item__link"
                                >Upload dokumenter</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div
                        class="mega-menu__section  mega-menu__account-details"
                      >
                        <a
                          class="mega-menu__account-details__logout-btn desktop-only js-logout-trigger"
                          href="#"
                          >Log af</a
                        >
                        <h3
                          class="mega-menu__section__title  mega-menu__account-details__title"
                        >
                          <span
                            class="mega-menu__section__title__inner  mega-menu__account-details__title__inner  mega-menu__account-details__larger-text"
                            ><span class="welcome-text">Velkommen </span
                            ><span
                              class="js-username"
                              data-hj-suppress=""
                            ></span
                            ><a
                              class="mega-menu__account-details__logout-btn mobile-only js-logout-trigger"
                              href="#"
                              >Log af</a
                            ></span
                          >
                        </h3>
                        <div class="mega-menu__account-details__row last-login">
                          <span class="mega-menu__account-details__small-text"
                            >Sidste login: </span
                          ><span
                            class="mega-menu__account-details__small-text  js-prevlogintime"
                          ></span>
                        </div>
                        <div class="mega-menu__account-details--dli-only">
                          <hr class="mega-menu__account-details__divider" />
                          <div
                            class="mega-menu__account-details__row mega-menu__account-details__row--right mega-menu__account-details--margin-bottom"
                          >
                            <span
                              class="mega-menu__account-details__left desktop-only"
                              >Tilgængeligt beløb</span
                            ><span
                              class="mega-menu__account-details__right js-balance-available desktop-only "
                              data-hj-suppress=""
                            ></span>
                          </div>
                          <div
                            class="mega-menu__account-details__row  mega-menu__account-details--margin-bottom desktop-only"
                          >
                            <span
                              class="mega-menu__account-details__left desktop-only"
                              >Reserveret beløb</span
                            ><span
                              class="mega-menu__account-details__right  js-balance-restricted desktop-only"
                              data-hj-suppress=""
                            ></span>
                          </div>
                        </div>
                        <hr class="mega-menu__account-details__divider" />
                        <div class="mega-menu__account-details__row">
                          <span
                            class="mega-menu__account-details__larger-text  mega-menu__account-details__left desktop-only"
                            >Samlet saldo</span
                          ><span
                            class="mega-menu__account-details__larger-text mega-menu__account-details__left dli desktop-only"
                            >, BLÅ KONTO</span
                          ><span
                            class="mega-menu__account-details__larger-text mega-menu__account-details__left dlo desktop-only"
                            >, RØD KONTO</span
                          ><span
                            class="mega-menu__account-details__larger-text mega-menu__account-details__right js-balance-total desktop-only"
                            data-hj-suppress=""
                          ></span
                          ><span
                            class="mega-menu__account-details__larger-text mega-menu__account-details__left js-balance-total mobile-only"
                            data-hj-suppress=""
                          ></span>
                        </div>
                        <div class="mega-menu__account-details--dli-only">
                          <div class="-only mega-menu__account-details__row">
                            <a
                              href="/blaa-konto/saldo"
                              class="mega-menu__account-details__details-btn desktop-only"
                              >Se saldodetaljer</a
                            ><a
                              href="/blaa-konto/saldo"
                              class="mega-menu__account-details__details-btn mega-menu__account-details__left mobile-only"
                              >Se saldodetaljer</a
                            >
                          </div>
                        </div>
                        <div
                          class="mega-menu__account-details__row mega-menu__account-details__row--button-container"
                        >
                          <a
                            href="/blaa-konto/indbetaling"
                            title="Overfør beløb"
                            class="mega-menu__account-details__button"
                            data-uitest-id="pam-uitest-payment-link"
                            >Indbetal Blå Konto</a
                          ><a
                            href="/blaa-konto/udbetaling"
                            title="Udbetaling"
                            class="mega-menu__account-details__button"
                            data-uitest-id="pam-uitest-payout-link"
                            >Udbetal Blå Konto</a
                          >
                        </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="brand-nav">
    <div class="brand-nav__container">
      <div class="menu-toggle menu-toggle-left">
        <a
          class="menu-toggle-btn"
          aria-expanded="false"
          data-menu-toggle=""
          href="#leftmenu"
          ><div></div>
          <div></div>
          <div></div
        ></a>
      </div>
      <div class="brand-nav__logo">
        <div class="pam-return-to-site-back">
          <svg class="pam-return-to-site-back__icon">
            <use xlink:href="#arrow_small_left_white"></use>
          </svg>
          <div class="pam-return-to-site-back__brand">
            <span class="pam-return-to-site-back__logo"
              ><img
                class="pam-return-to-site-back__logo-img"
                src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/bingo-white.ashx"
                alt="Tilbage til spillet"/></span
            ><span class="brand-nav__logo-text dli">Danske Licens Spil A/S</span
            ><span class="brand-nav__logo-text dlo"
              >Danske Lotteri Spil A/S</span
            >
          </div>
        </div>
        <a class="brand-nav__logo-link" href="/bingo"
          ><img
            class="brand-nav__logo-cube"
            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/header-cube.ashx"
          /><img
            class="brand-nav__logo-img"
            src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/bingo-white.ashx"
            alt="Bingo"
          /><span class="brand-nav__logo-text"
            >Udbydes af Danske Licens Spil A/S</span
          ></a
        >
      </div>
      <div class="brand-nav__navigation mobile-nav-left">
        <div class="mobile-navigation-header" style="">
          <div class="mobile-navigation-header__logo">
            <a class="mobile-navigation-header__logo-link" href="/bingo"
              ><img
                class="mobile-navigation-header__logo-cube"
                src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/header-cube.ashx"
              /><img
                class="mobile-navigation-header__logo-img"
                src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/bingo-white.ashx"
              /><span class="mobile-navigation-header__logo-text"
                >Udbydes af Danske Licens Spil A/S</span
              ></a
            >
          </div>
        </div>
        <ul class="brand-nav__list">
          <!-- BrandHeaderBingoGameOverviewView.ascx -->
          <li class="brand-nav__item js-item js-has-subnav">
            <a href="#" class="brand-nav__link js-link" aria-haspopup="true"
              >Spil Bingo<svg class="brand-nav__link-icon">
                <use xlink:href="#icon_header_arrow_down_use"></use></svg
            ></a>
            <div
              class="sub-navigation mega-menu"
              id="mega-menu-type2"
              aria-hidden="true"
              aria-label="submenu"
            >
              <div class="sub-navigation-inner mega-menu__inner">
                <ul
                  class="navigation-list nav-game-overview js-bingo-header-games"
                >
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="377"
                  >
                    <a
                      class="nav-game-overview__link"
                      href="/bingo/spil/stjernedrys"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/billeder/bingo/kampagner/rum-grafikker/stjernedrys_spilvaelger_kugle.ashx?h=107&amp;la=da&amp;w=108&amp;hash=8BB91097B46292CFD02EBFC0902B96DA2C66217B"
                          class="nav-game-overview__image"
                          alt=""
                          width="108"
                          height="107"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title"
                        >Stjernedrys</span
                      ></a
                    >
                  </li>
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="30"
                  >
                    <a class="nav-game-overview__link" href="/bingo/spil/safir"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/billeder/bingo/kampagner/rum-grafikker/safir_spilvaelger_kugle.ashx?h=107&amp;la=da&amp;w=108&amp;hash=2D76D72C5C1E0D1F6CAF71C83FAC39C28E8899CE"
                          class="nav-game-overview__image"
                          alt=""
                          width="108"
                          height="107"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title">Safir</span></a
                    >
                  </li>
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="15"
                  >
                    <a
                      class="nav-game-overview__link"
                      href="/bingo/spil/venskab"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/billeder/bingo/kampagner/rum-grafikker/venskab_spilvaelger_kugle.ashx?h=108&amp;la=da&amp;w=108&amp;hash=FF76CAE52F4BBA4F4A5EEFCA26C60525EBEB8DE2"
                          class="nav-game-overview__image"
                          alt=""
                          width="108"
                          height="108"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title">Venskab</span></a
                    >
                  </li>
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="374"
                  >
                    <a
                      class="nav-game-overview__link"
                      href="/bingo/spil/gamle-ole"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/billeder/bingo/kampagner/rum-grafikker/gamle_ole_spilvaelger_kugle.ashx?h=107&amp;la=da&amp;w=108&amp;hash=5D37B4733DA2C83AC60D915009DF7136061E8C8B"
                          class="nav-game-overview__image"
                          alt=""
                          width="108"
                          height="107"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title">Gamle Ole</span></a
                    >
                  </li>
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="381"
                  >
                    <a
                      class="nav-game-overview__link"
                      href="/bingo/spil/velkomst-bingo"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/billeder/bingo/kampagner/rum-grafikker/velkomst_spilvaelger_kugle.ashx?h=107&amp;la=da&amp;w=108&amp;hash=54ADDEF25DC1C3B53C0F3C8B9EEAED84DEEDBB3C"
                          class="nav-game-overview__image"
                          alt=""
                          width="108"
                          height="107"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title"
                        >Velkomst Bingo</span
                      ></a
                    >
                  </li>
                  <li
                    class="nav-game-overview__item js-game-item"
                    data-room-id="382"
                  >
                    <a
                      class="nav-game-overview__link"
                      href="/bingo/spil/regnbuen"
                      ><div class="nav-game-overview__container">
                        <img
                          src="/-/media/mediebib_old/rod/dam/damimages/2025/2025-50037.ashx?h=325&amp;la=da&amp;w=325&amp;hash=502A228CCE48E646F1B438BC6DB3F751F5FC4C10"
                          class="nav-game-overview__image"
                          alt=""
                          width="325"
                          height="325"
                        /><span class="countdown-timer"></span>
                      </div>
                      <span class="nav-game-overview__title">Regnbuen</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- /BrandHeaderBingoGameOverviewView.ascx -->
          <li class="brand-nav__item js-item brand-nav__item--first-level">
            <a
              class="brand-nav__link js-link"
              href="https://danskespil.dk/bingo/bingo/kampagner"
              >Kampagner</a
            >
          </li>
          <li class="brand-nav__item js-item brand-nav__item--first-level">
            <a
              class="brand-nav__link js-link"
              href="http://danskespil.dk/bingo/bingo/ny_spiller"
              >Ny spiller</a
            >
          </li>
          <!-- BreandHeaderDropSectionView -->
          <li
            class="brand-nav__item brand-nav__item--first-level simple-menu-parent js-item js-has-subnav"
          >
            <a href="#" class="brand-nav__link js-link" aria-haspopup="true"
              >Bingochatten<svg class="brand-nav__link-icon">
                <use xlink:href="#icon_header_arrow_down_use"></use></svg
            ></a>
            <div
              class="sub-navigation simple-menu"
              aria-hidden="true"
              aria-label="submenu"
            >
              <div class="sub-navigation__inner">
                <ul class="sub-navigation__list">
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/chatregler"
                      >Generelle chatregler</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a class="sub-navigation__link" href="/bingo/bingo/chatlege"
                      >Chatlegeregler</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a class="sub-navigation__link" href="/bingo/bingo/chatspas"
                      >Chat-spas</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/chatvaerter"
                      >Chatværter</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- /BreandHeaderDropSectionView --><!-- BreandHeaderDropSectionView -->
          <li
            class="brand-nav__item brand-nav__item--first-level simple-menu-parent js-item js-has-subnav"
          >
            <a href="#" class="brand-nav__link js-link" aria-haspopup="true"
              >Alt om Bingo<svg class="brand-nav__link-icon">
                <use xlink:href="#icon_header_arrow_down_use"></use></svg
            ></a>
            <div
              class="sub-navigation simple-menu"
              aria-hidden="true"
              aria-label="submenu"
            >
              <div class="sub-navigation__inner">
                <ul class="sub-navigation__list">
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/saadan_bruger_du_gratis_plader"
                      >Gratis plader</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="http://danskespil.dk/bingo/bingo/hvad_-er_bingo_hos_danske_spil"
                      >Hvad er Bingo</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/hvordan_spiller_man_bingo"
                      >Hvordan spiller man Bingo</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/hvad_kan_jeg_vinde_og_hvordan-_vinder_jeg"
                      >Hvordan vinder jeg</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a class="sub-navigation__link" href="/bingo/bingo/jackpots"
                      >Jackpots</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/manuel_dupning"
                      >Manuel dupning</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a class="sub-navigation__link" href="/bingo/bingo/pre_koeb"
                      >Pre køb</a
                    >
                  </li>
                  <li class="sub-navigation__item  ">
                    <a
                      class="sub-navigation__link"
                      href="/bingo/bingo/bingo_lingo"
                      >Bingo Lingo</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- /BreandHeaderDropSectionView -->
          <li class="brand-nav__item js-item brand-nav__item--first-level">
            <a
              class="brand-nav__link js-link"
              href="/bingo/bingo/vores_bingo-rum"
              >Vores Bingorum</a
            >
          </li>
          <li class="brand-nav__item js-item brand-nav__item--first-level">
            <a
              class="brand-nav__link js-link"
              title="Vindere"
              href="/bingo/bingo/vindere"
              >Vindere</a
            >
          </li>
        </ul>
      </div>
      <div class="brand-nav__navigation mobile-nav-right">
        <div class="login-container"></div>
        <div class="mobile-navigation-header">
          <div class="mobile-navigation-header__logo">
            <a href="/"
              ><img
                class="corporate-nav__logo-img"
                src="/-/media/mediebib_old/rod/danskespil/billeder/frontpage/logos/dss___hr.ashx"
                alt="danske spil logo"
            /></a>
          </div>
        </div>
        <div class="sub-navigation-inner  mega-menu__inner">
          <div class="mega-menu__account">
            <h3 class="mega-menu__account-name dli">BLÅ KONTO</h3>
            <h3 class="mega-menu__account-name dlo">RØD KONTO</h3>
            <p class="mega-menu__account-meta dli">
              <strong>Danske Licens Spil A/S:</strong> Oddset, eOddset, Tips,
              Dantoto, Casino, Live Casino, Spillehjørnet, Zezam, Poker og Bingo
            </p>
            <p class="mega-menu__account-meta dlo">
              <strong>Danske Lotteri Spil A/S:</strong> Lotto, Vikinglotto,
              Eurojackpot, Keno, Quick og Quick Games
            </p>
            <a
              class="mega-menu__account-details__logout-btn desktop-only js-logout-trigger"
              href="#"
              >Log af</a
            >
            <h3
              class="mega-menu__section__title  mega-menu__account-details__title"
            >
              <span
                class="mega-menu__section__title__inner  mega-menu__account-details__title__inner  mega-menu__account-details__larger-text"
                ><span class="welcome-text">Velkommen </span
                ><span class="js-username" data-hj-suppress=""></span
                ><a
                  class="mega-menu__account-details__logout-btn mobile-only js-logout-trigger"
                  href="#"
                  >Log af</a
                ></span
              >
            </h3>
            <div class="mega-menu__account-details__row last-login">
              <span class="mega-menu__account-details__small-text"
                >Sidste login: </span
              ><span
                class="mega-menu__account-details__small-text  js-prevlogintime"
              ></span>
            </div>
            <div class="mega-menu__account-details--dli-only">
              <hr class="mega-menu__account-details__divider" />
              <div
                class="mega-menu__account-details__row mega-menu__account-details__row--right mega-menu__account-details--margin-bottom"
              >
                <span class="mega-menu__account-details__left desktop-only"
                  >Tilgængeligt beløb</span
                ><span
                  class="mega-menu__account-details__right js-balance-available desktop-only "
                  data-hj-suppress=""
                ></span>
              </div>
              <div
                class="mega-menu__account-details__row  mega-menu__account-details--margin-bottom desktop-only"
              >
                <span class="mega-menu__account-details__left desktop-only"
                  >Reserveret beløb</span
                ><span
                  class="mega-menu__account-details__right  js-balance-restricted desktop-only"
                  data-hj-suppress=""
                ></span>
              </div>
            </div>
            <hr class="mega-menu__account-details__divider" />
            <div class="mega-menu__account-details__row">
              <span
                class="mega-menu__account-details__larger-text  mega-menu__account-details__left desktop-only"
                >Samlet saldo</span
              ><span
                class="mega-menu__account-details__larger-text mega-menu__account-details__left dli desktop-only"
                >, BLÅ KONTO</span
              ><span
                class="mega-menu__account-details__larger-text mega-menu__account-details__left dlo desktop-only"
                >, RØD KONTO</span
              ><span
                class="mega-menu__account-details__larger-text mega-menu__account-details__right js-balance-total desktop-only"
                data-hj-suppress=""
              ></span
              ><span
                class="mega-menu__account-details__larger-text mega-menu__account-details__left js-balance-total mobile-only"
                data-hj-suppress=""
              ></span>
            </div>
            <div class="mega-menu__account-details--dli-only">
              <div class="-only mega-menu__account-details__row">
                <a
                  href="/blaa-konto/saldo"
                  class="mega-menu__account-details__details-btn desktop-only"
                  >Se saldodetaljer</a
                ><a
                  href="/blaa-konto/saldo"
                  class="mega-menu__account-details__details-btn mega-menu__account-details__left mobile-only"
                  >Se saldodetaljer</a
                >
              </div>
            </div>
            <div
              class="mega-menu__account-details__row mega-menu__account-details__row--button-container"
            >
              <a
                href="/blaa-konto/indbetaling"
                title="Overfør beløb"
                class="mega-menu__account-details__button"
                data-uitest-id="pam-uitest-payment-link"
                >Indbetal Blå Konto</a
              ><a
                href="/blaa-konto/udbetaling"
                title="Udbetaling"
                class="mega-menu__account-details__button"
                data-uitest-id="pam-uitest-payout-link"
                >Udbetal Blå Konto</a
              >
            </div>
            <div></div>
          </div>
          <div>
            <ul class="navigation-list  mega-menu__section account-section">
              <li
                class="navigation-item  mega-menu__section__title  has-subnav"
              >
                <ul class="navigation-list  mega-menu__link-list">
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="https://danskespil.dk/blaa-konto/mine-spil#/1/365/aktive/alle-kanaler/"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Aktive spil</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="https://danskespil.dk/blaa-konto/mine-spil#/1/7/afsluttede/alle-kanaler/"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Afsluttede spil</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="https://danskespil.dk/blaa-konto/historik#/1/7/alle-typer/"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Kontohistorik</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/casino/pokercasino_konto"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      target="Aktiv browser"
                      >Poker/Casino side</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/oddset-bonus"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Oddset bonus</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="navigation-list  mega-menu__section account-section">
              <li
                class="navigation-item  mega-menu__section__title  has-subnav"
              >
                <ul class="navigation-list  mega-menu__link-list">
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/mine-oplysninger"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Mine oplysninger</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/notifikationer"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Nyheder og vinderbeskeder</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/spilkort"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Spilkort</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/amountlimits"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Sæt grænser</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/spaer-eller-luk"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Kontoadgang</a
                    >
                  </li>
                  <li class="navigation-item  mega-menu__link-list__item">
                    <a
                      href="/blaa-konto/upload-dokument"
                      class="navigation-item-link  mega-menu__link-list__item__link"
                      >Upload dokumenter</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <div class="mega-menu__section  mega-menu__account-details">
              <a
                class="mega-menu__account-details__logout-btn desktop-only js-logout-trigger"
                href="#"
                >Log af</a
              >
              <h3
                class="mega-menu__section__title  mega-menu__account-details__title"
              >
                <span
                  class="mega-menu__section__title__inner  mega-menu__account-details__title__inner  mega-menu__account-details__larger-text"
                  ><span class="welcome-text">Velkommen </span
                  ><span class="js-username" data-hj-suppress=""></span
                  ><a
                    class="mega-menu__account-details__logout-btn mobile-only js-logout-trigger"
                    href="#"
                    >Log af</a
                  ></span
                >
              </h3>
              <div class="mega-menu__account-details__row last-login">
                <span class="mega-menu__account-details__small-text"
                  >Sidste login: </span
                ><span
                  class="mega-menu__account-details__small-text  js-prevlogintime"
                ></span>
              </div>
              <div class="mega-menu__account-details--dli-only">
                <hr class="mega-menu__account-details__divider" />
                <div
                  class="mega-menu__account-details__row mega-menu__account-details__row--right mega-menu__account-details--margin-bottom"
                >
                  <span class="mega-menu__account-details__left desktop-only"
                    >Tilgængeligt beløb</span
                  ><span
                    class="mega-menu__account-details__right js-balance-available desktop-only "
                    data-hj-suppress=""
                  ></span>
                </div>
                <div
                  class="mega-menu__account-details__row  mega-menu__account-details--margin-bottom desktop-only"
                >
                  <span class="mega-menu__account-details__left desktop-only"
                    >Reserveret beløb</span
                  ><span
                    class="mega-menu__account-details__right  js-balance-restricted desktop-only"
                    data-hj-suppress=""
                  ></span>
                </div>
              </div>
              <hr class="mega-menu__account-details__divider" />
              <div class="mega-menu__account-details__row">
                <span
                  class="mega-menu__account-details__larger-text  mega-menu__account-details__left desktop-only"
                  >Samlet saldo</span
                ><span
                  class="mega-menu__account-details__larger-text mega-menu__account-details__left dli desktop-only"
                  >, BLÅ KONTO</span
                ><span
                  class="mega-menu__account-details__larger-text mega-menu__account-details__left dlo desktop-only"
                  >, RØD KONTO</span
                ><span
                  class="mega-menu__account-details__larger-text mega-menu__account-details__right js-balance-total desktop-only"
                  data-hj-suppress=""
                ></span
                ><span
                  class="mega-menu__account-details__larger-text mega-menu__account-details__left js-balance-total mobile-only"
                  data-hj-suppress=""
                ></span>
              </div>
              <div class="mega-menu__account-details--dli-only">
                <div class="-only mega-menu__account-details__row">
                  <a
                    href="/blaa-konto/saldo"
                    class="mega-menu__account-details__details-btn desktop-only"
                    >Se saldodetaljer</a
                  ><a
                    href="/blaa-konto/saldo"
                    class="mega-menu__account-details__details-btn mega-menu__account-details__left mobile-only"
                    >Se saldodetaljer</a
                  >
                </div>
              </div>
              <div
                class="mega-menu__account-details__row mega-menu__account-details__row--button-container"
              >
                <a
                  href="/blaa-konto/indbetaling"
                  title="Overfør beløb"
                  class="mega-menu__account-details__button"
                  data-uitest-id="pam-uitest-payment-link"
                  >Indbetal Blå Konto</a
                ><a
                  href="/blaa-konto/udbetaling"
                  title="Udbetaling"
                  class="mega-menu__account-details__button"
                  data-uitest-id="pam-uitest-payout-link"
                  >Udbetal Blå Konto</a
                >
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-bar">
        <a
          class="user-bar__item profile-btn mobile-only"
          aria-expanded="false"
          data-menu-toggle=""
          href="#"
        ></a
        ><a
          class="user-bar__item profile-btn desktop-only"
          aria-expanded="false"
          href="#"
        ></a
        ><a class="user-bar__item choose-account" href="#" title="Vælg konto"
          >Vælg konto</a
        ><a
          class="user-bar__item login-btn js-login-header mobile-only"
          aria-expanded="false"
          data-menu-toggle=""
          href="#"
          >Log ind</a
        >
      </div>
      <div class="menu-toggle menu-toggle-right">
        <a
          class="menu-toggle-btn active"
          aria-expanded="false"
          data-menu-toggle=""
          href="#rightmenu"
          ><div></div>
          <div></div>
          <div></div
        ></a>
      </div>
      <div class="mobile-user-info" data-hj-suppress="">
        <div class="mobile-user-info-inner-wrapper">
          <div class="mobile-user-info__left">
            <p class="account-name dli">BLÅ KONTO</p>
            <p class="account-name dlo">RØD KONTO</p>
          </div>
          <div class="mobile-user-info__center">
            <p class="js-username"></p>
          </div>
          <div class="mobile-user-info__right">
            <p class="js-balance-user"></p>
          </div>
        </div>
      </div>
      <div class="pam-return-to-site-close">
        <svg class="pam-return-to-site-close__icon">
          <use xlink:href="#close_small_white"></use>
        </svg>
      </div>
    </div>
  </nav>
</header>
