<div class="{{bundleName}}">

  <section class="bingo-featured animate-in--container">
    <div class="bingo-featured__wrapper">
      <h4 class="bingo__h4 bingo-featured__mobile-header">
        DET MEST POPULÆRE RUM
      </h4>
      <div class="bingo-featured__content">
        <div class="bingo-featured__campaign bingo-featured__campaign--wave">
          <h2 class="bingo__h2">Ny spiller?</h2>
          <p class="lead">
            Som ny spiller kan du spille i rummet Velkomst Bingo i 14 dage hver
            dag fra kl. 07-22!
          </p>
          <img
            class="animation-wave"
            src="/-/media/billeder/bingo/kampagner/forsideelementer/balloner.ashx"
            alt=""
          /><a href="https://danskespil.dk/bingo/bingo/ny_spiller"
            >Læs mere her</a
          >
        </div>
        <div class="bingo-featured__card animate-in--elm">
          <!-- GameRoomTeaser -->
          {{> molecules-bingo-card }}
          <!-- /GameRoomTeaser -->
        </div>
        <div class="bingo-featured__campaign">
          <h2 class="bingo__h2">Spil Hyggespil hos Bingo</h2>
          <p class="lead">
            Mens du spiller Bingo, kan du hygge dig med vores Hyggespil. Find dem
            nederst i venstre hjørne, når du åbner et Bingo rum.
          </p>
          <a class="bingo__link" href="/bingo/spil/stjernedrys">Spil med her</a>
        </div>
      </div>
    </div>
  </section>

</div>
