<div class="{{areaClass}}">
  <div class="bingo-game-category">
    <h2 class="bingo__h2">Alle bingorum</h2>
    <div class="bingo-game-category__cards js-slider">
      {{# listItems.five }}    
      {{> molecules-bingo-card }}
      {{/ listItems.five }}
    </div>
  </div>
</div>
