<section class="bingo-hero animate-in--container  ">
  <div class="bingo-hero__bg">
    <div
      class="bingo-hero__bg-inner bingo-hero__bg-"
      style="background-image: url('https://dummyimage.com/2500x700/A3BB68/fff');background-color: #A3BB68;"
    ></div>
  </div>
  <div class="bingo-hero__content">
    <img
      class="bingo-hero__graphic"
      src="https://dummyimage.com/600x400/000/fff"
      alt="{{ img.rectangle.alt }}"
    />
    <div class="bingo-hero__text-content"></div>
    <a
      id="danskespilpagearea_0_bingoherosection_0_hlBingoHeroLink"
      class="bingo__btn bingo__btn--primary bingo__btn--large bingo-hero__btn"
      href="https://danskespil.dk/bingo/bingo/stjernejagt"
      target="_self"
      >Læs mere her</a
    >
  </div>
</section>
