<div class="{{areaClass}}">
  <div class="one-col">
    <div class="container1">
      <div class="element">
        {{#buttons}}
          <p>{{type}}</p>
          {{> atoms-livecasino-button }}
        {{/buttons}}
      </div>
    </div>
  </div>
</div>
