<section class="avalon-cards card-layout-6 cards__padding-top cards__padding-bottom sommer-cards">
  <div class="cards__container">
    <div class="cards">
      
      {{#listItems.seven}}
      {{> molecules-CardOne }}
      {{/listItems.seven}}     
      
      <!-- CardOne -->
      <section class="card card-one flere_kampagner"
        style="background-color:#D6F2C7;  background-image:url(http://placeimg.com/473/325/nature);">
        <div class="card__content" style="">
          <style>
            .box-title {
              color: #005F7D !important;
              font-size: 2.1rem;
              font-weight: 600;
              color: #fff;
              line-height: 1.2;
              margin-bottom: .5rem;
            }

            .box-sub {
              color: #005F7D;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.3;
            }

            .card__content {
              text-align: center;
            }
          </style>
          <p class="box-title">Flere kampagner på vej</p>
          <p class="box-sub">Flere Sommer på Casino-tilbud bliver offentliggjort senere, kig ind snart igen.</p>
        </div>
        <div class="card__cta-wrapper"></div>
      </section><!-- /CardOne -->
    </div>
  </div>
</section>