
<!DOCTYPE html>
<html class="{{ htmlClass }} mode-preview">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

<script>
  var DS = DS || {};
  DS.Config = {
    BASE_HOST: location.origin,
    FEEDSERVER_URL: '/mockapi',
    DSAPI_URL: '//' + location.hostname + '/dsapi',
    DSAPI_TESTENV: true,
    SSO_SERVER_URL: '//town21sso-dli.danskespil.dk',
    CONTEXT: 'DLI',
    CONTEXTPREFIX:'/dli',
    PRETTYPREFIX:'/blaa-konto',
    BOSSOCONTEXT:'',
    FEEDSERVER_TOKEN: 'd35b241487678e7e39cf2e4e42d8fb4c',
    FEEDSERVER_TOKEN_VM2018: 'caf70e7d78a7f1248e0f565838692f72',
    G_ANALYTICS_ACCOUNT_ID: 'UA-24521941-2',
    CONSOLE_LOG_LEVEL: 1,
    RELEASE: 'dev',

    RECAPTCHA_SITEKEY: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
    RECAPTCHA_URL: '//www.google.com/recaptcha/api.js?onload=reCaptchaReady&amp;render=explicit&amp;hl=da',

    ENFORCE_HTTPS: false, // CHANGED  true,
    ENV: 'dev',
    DICTIONARY_TTL: 10, /* In Seconds (very low on dev) */

    SENTRY_ENABLED: false,
    SENTRY_ENDPOINT: '//97cae6a2487b47a485a8e7d00dff658f@sentry.io/160998',
    SENTRY_ENV: 'dev',
    SENTRY_LOG_MISSING_DICTIONARY_KEYS: false,

    SPILLEHJOERNET_GAMEJACKPOTS: '//feed.danskespil.dk/spillehjoernet/jackpotsall',
    LIVECASINO_APIURL: '//town25.evolution-gaming-lobby-integration.dsservice.eu/api/v1',

    CEGO_FEED_URL: '//town21feed.danskespil.dk/spillehjoernet',
    SPORTECH_DANTOTO_URL: '//town21stweb.danskespil.dk',
    BW_BINGO_INSTANT_URL: '//town21bwbip.danskespil.dk',
    YOUTUBE_API_URL: '//www.youtube.com/iframe_api',
    BINGO_GAMEINFO_URL: '/danskespilfeeds/bingo/v2/games'
  };
</script>

  {{> meta-core-head-scripts-bundle }}
  {{> meta-core-style-bundle }}
  {{> meta-region-style-bundle }}

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body style="{{{bodyStyle}}}" class="{{ bodyClass }} is-desktop-detected" data-time-now="2019-06-11T14:38:56">

    <form method="post" action="">
      <div id="wrapper" class="page">
        <div class="page-box">
          