            

      </div>
    </div>
  </form>
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  
  {{! Core js}}
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/curl.min.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/Jquery/jquery-1.11.1.min.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/Plugins/jquery-migrate-1.2.1.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/Jquery/jquery.no-conflict.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/Plugins/jquery.cookie.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/Plugins/include-min.js"></script>
<script src="/Components/Common/Framework/ScriptLibraries/Scripts/promise.min.js"></script>
<script src="/Components/Shared/Framework/Mithril/Scripts/Helpers/Storage.js"></script>
<script src="/Components/Common/Framework/Dictionary/Scripts/Dictionary.js"></script>
<script src="/Components/Common/Framework/EventHandling/Scripts/global.events.js"></script>
<script src="/Components/Common/Framework/EventHandling/Scripts/OutsideClick.js"></script>
<script src="/Components/Common/Framework/EventHandling/Scripts/CrossWindowEvents.js"></script>
<script src="/Components/Shared/Framework/TimeUtils/Scripts/TimeUtils.js"></script>
<script src="/Components/Shared/Framework/TimeUtils/Scripts/Clock.js"></script>
<script src="/Components/Common/Framework/ResourceHandling/Scripts/SvgQuirks.js"></script>
<script src="/Components/Common/Framework/ResourceHandling/Scripts/LazyLoad.js"></script>
<script src="/Components/Shared/Framework/Mithril/Scripts/Helpers/Utils.js"></script>
<script src="/Components/DanskeSpil/Framework/Navigation/Scripts/ReturnUrlCheck.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/document-register-element.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/FeedUtils.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/FeedRequestProxy.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feed.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feeds/FeedCasinoJackpot.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feeds/FeedPoolGamesJackpot.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feeds/FeedCegoJackpot.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feeds/FeedBingoJackpot.js"></script>
<script src="/Components/Shared/Framework/Feeds/Scripts/Feeds/FeedGeneric.js"></script>
<script src="/Components/DanskeSpil/Domain/CookieRegulation/Scripts/CookieInfoWidget.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/LoginCache.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/LoginSSO.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/LoginSSOGlobal.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/SitecoreAuth.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/KeepSessionAliveTimer.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/HashChange.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/Legacy/ds.api_parent.js"></script>
<script src="/Components/Shared/Framework/Ensighten/Scripts/Ensighten.js"></script>
<script src="/Components/DanskeSpil/Domain/Header/Scripts/HeaderNotifications.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/NewLoginWidgets.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/UINewLogin.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/FirstLogin.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/FirstLoginData.js"></script>
<script src="/Components/DanskeSpil/Domain/Authentification/Scripts/LoginController.js"></script>
<script src="/Components/DanskeSpil/Domain/Header/Scripts/HeaderNavigation.js"></script>
<script src="/Components/DanskeSpil/Domain/Header/Scripts/HeaderToggleBEM.js"></script>
<script src="/Components/DanskeSpil/Domain/Header/Scripts/HeaderNavigationMobile.js"></script>
<script src="/Components/Shared/Framework/DsApi/Scripts/DsapiSitecoreConfig.js"></script>
<script src="/Components/Shared/Framework/DsApi/Scripts/dsapi.js"></script>
<script src="/Components/DanskeSpil/Domain/Overlays/Scripts/Overlay.js"></script>
<script src="/Components/DanskeSpil/Domain/Overlays/Scripts/OverlayLegacy.js"></script>
<script src="/Components/DanskeSpil/Domain/Overlays/Scripts/OverlayTrigger.js"></script>
<script src="/Components/Shared/Framework/BrowserRequirements/Scripts/BrowserRequirements.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/payment.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/print.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/retailer-id.js"></script>
<script src="/Components/DanskeSpil/Framework/TeamsAndLeagues/Scripts/TeamsAndLeaguesLinks.js"></script>
<script src="/Components/Shared/Framework/Consent/Script/notification.js"></script>
<script src="/Components/DanskeSpil/Domain/Navigation/Scripts/GenericSmartBannerDetection.js"></script>

{{! Bingo scripts}}
  <script src="/Components/DanskeSpil/Domain/Bingo/Scripts/GameWidget.js"></script>
<script src="/Components/DanskeSpil/Project/Design/Js/Global/countdown.js"></script>
<script src="/Components/DanskeSpil/Domain/Avalon.Bingo/Scripts/GameFeed.js"></script>
<script src="/Components/DanskeSpil/Domain/Avalon.Bingo/Scripts/GameRoomTeaser.js"></script>
<script src="/Components/DanskeSpil/Domain/Avalon.Bingo/Scripts/AnimateBackground.js"></script>
<script src="/Components/DanskeSpil/Domain/Avalon.Bingo/Scripts/NewsletterSubscription.js"></script>
<script src="/Components/DanskeSpil/Domain/Avalon.Bingo/Scripts/SlickSlider.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/mediaelementplayer.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/slick-lightbox.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Libraries/slick.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Accordion.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Carousel.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/DsFlipClock.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Faq.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Gallery.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/ImageForChatHost.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/ReadMoreSpot.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/TabsComponent.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/Video.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/VideoGallery.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonComponents/Scripts/VipLadder.js"></script>
<script src="/Components/DanskeSpil/Domain/AvalonBingoChatHost/Scripts/BingoRecaptchaHelper.js"></script>

  </body>
</html>
