<div class="card card-type1" style="">
  <div class="card__image-wrapper">
    <div class="card__image-title" style="">Min cardtype 1 tekst</div>
    <picture><img class="card__image" src="" alt=""></picture>
  </div>
  <div class="card__content">
    <div class="card__title" style="">Card type 1&nbsp;</div>
    <div class="card__subtitle" style="">Anden tekst i card type 1</div>
  </div>
  <div class="card__cta-wrapper"><a class="avalon-button" href="/">DanskeSpil</a></div>
</div>