<a href="#" class="card card-one" style="background-color:#D6F2C7;">
  <div class="card__label" style="color:white;"></div>
  <picture class="card__image card__image--small" style="height:150px;">
    <source
      srcset="http://placeimg.com/275/150/people"
      media="(max-width: 1215px)">
    <img
      src="http://placeimg.com/305/150/people"
      alt="">
  </picture>
  <picture class="card__image card__image--large" style="height:150px;">
    <img
      src="http://placeimg.com/305/150/people"
      alt="">
  </picture>
  <div class="card__content" style="">
    <style>
      .box-title {
        color: #005F7D !important;
        font-size: 2.1rem;
        font-weight: 600;
        color: #fff;
        line-height: 1.2;
        margin-bottom: .5rem;
      }

      .box-sub {
        color: #005F7D;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.3;
      }
    </style>
    <p class="box-title">1. - 4. juli</p>
    <p class="box-sub">Gennemfør discipliner og vind kontanter</p>
  </div>
  <div class="card__cta-wrapper">
    <span class="avalon-button">Deltag nu</span>
  </div>
</a>